<!-- Site Footer-->
<footer class="site-footer" style="background-image: url(/public/img/footer-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- Categories-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">Shop Departments</h3>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li><a href="#">Computers &amp; Accessories</a></li>
                <li><a href="#">Smartphones &amp; Tablets</a></li>
                <li><a href="#">TV, Video &amp; Audio</a></li>
                <li><a href="#">Cameras, Photo &amp; Video</a></li>
                <li><a href="#">Headphones</a></li>
                <li><a href="#">Wearable Electronics</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li><a href="#">Printers &amp; Ink</a></li>
                <li><a href="#">Video Games</a></li>
                <li><a href="#">Car Electronics</a></li>
                <li><a href="#">Smart Home, IoT</a></li>
                <li><a href="#">Musical Instruments</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- About Us-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">About Us</h3>
          <ul>
            <li><a href="#">Careers</a></li>
            <li><a href="#">About Unishop</a></li>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Our Blog</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Account / Shipping Info-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">Account &amp; Shipping Info</h3>
          <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Shipping Rates & Policies</a></li>
            <li><a href="#">Refunds & Replacements</a></li>
            <li><a href="#">Taxes</a></li>
            <li><a href="#">Delivery Info</a></li>
            <li><a href="#">Affiliate Program</a></li>
          </ul>
        </section>
      </div>
    </div>
    <hr class="hr-light mt-2 margin-bottom-2x hidden-md-down">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Contact Info-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Get In Touch With Us</h3>
          <p class="text-white">Phone: +1 (900) 33 169 7720</p>
          <ul class="list-unstyled text-sm text-white">
            <li><span class="opacity-50">Monday-Friday:&nbsp;</span>9.00 am - 8.00 pm</li>
            <li><span class="opacity-50">Saturday:&nbsp;</span>10.00 am - 6.00 pm</li>
          </ul>
          <p><a class="navi-link-light" href="#">support@unishop.com</a></p><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Mobile App Buttons-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-button windows-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
        </section>
      </div>
      <div class="col-lg-6">
        <!-- Subscription-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Be Informed</h3>
          <form class="row" action="http://rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=1194bb7544" method="post" target="_blank" novalidate>
            <div class="col-sm-9">
              <div class="input-group input-light">
                <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail"><span class="input-group-addon"><i class="icon-mail"></i></span>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
              </div>
              <p class="form-text text-sm text-white opacity-50 pt-2">Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.</p>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-primary btn-block mt-0" type="submit">Subscribe</button>
            </div>
          </form>
          <div class="pt-3"><img class="d-block" style="width: 324px;" alt="Cerdit Cards" src="/public/img/credit-cards-footer.png"></div>
        </section>
      </div>
    </div>
    <!-- Copyright-->
    <p class="footer-copyright">© All rights reserved. Made with &nbsp;<i class="icon-heart text-danger"></i><a href="http://rokaux.com/" target="_blank"> &nbsp;by rokaux</a></p>
  </div>
</footer>
<!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-chevron-up"></i></a>
<!-- Backdrop-->
<div class="site-backdrop"></div>
<!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
<script src="/public/js/vendor.min.js"></script>
<script src="/public/js/scripts.min.js"></script>
<!-- Customizer scripts-->
<script src="/public/customizer/customizer.min.js"></script>
</body>

<!-- Mirrored from themes.rokaux.com/unishop/v3.1/template-3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Feb 2019 20:19:08 GMT -->
</html>
<!-- {{if .DevMode}}
    {{template "debug.html" .}}
  {{end}}
  </body>
</html> -->
